[Service]
Type=simple
ExecStart=/usr/bin/lightsd
ExecStartPost=/usr/bin/lightsd_socket_fix.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
